/****************************************************************************


68230.rc

produced by Borland Resource Workshop


*****************************************************************************/
#include <afxres.h>
#include "68230.rh"


PORT DIALOG 27, 22, 160, 182
EXSTYLE DS_3DLOOK | WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
STYLE  WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION ""
FONT 6, "Small Fonts"
{
 CONTROL "", IDC_PA7, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 48, 13, 8, 12
 CONTROL "PADR", -1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 16, 13, 30, 12
 CONTROL "", IDC_PA6, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 57, 13, 8, 12
 CONTROL "", IDC_PA5, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 66, 13, 8, 12
 CONTROL "", IDC_PA4, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 75, 13, 8, 12
 CONTROL "", IDC_PA3, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 84, 13, 8, 12
 CONTROL "", IDC_PA2, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 93, 13, 8, 12
 CONTROL "", IDC_PA1, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 102, 13, 8, 12
 CONTROL "", IDC_PA0, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 111, 13, 8, 12
 CONTROL "PBDR", -1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 16, 55, 30, 12
 CONTROL "", IDC_PB7, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 48, 55, 8, 12
 CONTROL "", IDC_PB6, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 57, 55, 8, 12
 CONTROL "", IDC_PB5, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 66, 55, 8, 12
 CONTROL "", IDC_PB4, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 75, 55, 8, 12
 CONTROL "", IDC_PB3, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 84, 55, 8, 12
 CONTROL "", IDC_PB2, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 93, 55, 8, 12
 CONTROL "", IDC_PB1, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 102, 55, 8, 12
 CONTROL "", IDC_PB0, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 111, 55, 8, 12
 CONTROL "", IDC_PA, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 124, 13, 32, 12
 CONTROL "", IDC_PB, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 124, 55, 32, 12
 CONTROL "PADDR", -1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 16, 26, 30, 12
 CONTROL "", IDC_PAD7, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 48, 26, 8, 12
 CONTROL "", IDC_PAD6, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 57, 26, 8, 12
 CONTROL "", IDC_PAD5, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 66, 26, 8, 12
 CONTROL "", IDC_PAD4, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 75, 26, 8, 12
 CONTROL "", IDC_PAD3, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 84, 26, 8, 12
 CONTROL "", IDC_PAD2, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 93, 26, 8, 12
 CONTROL "", IDC_PAD1, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 102, 26, 8, 12
 CONTROL "", IDC_PAD0, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 111, 26, 8, 12
 CONTROL "", IDC_PAD, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 124, 26, 32, 12
 CONTROL "PBDDR", -1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 16, 69, 30, 12
 CONTROL "", IDC_PBD7, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 48, 69, 8, 12
 CONTROL "", IDC_PBD6, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 57, 69, 8, 12
 CONTROL "", IDC_PBD5, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 66, 69, 8, 12
 CONTROL "", IDC_PBD4, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 75, 69, 8, 12
 CONTROL "", IDC_PBD3, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 84, 69, 8, 12
 CONTROL "", IDC_PBD2, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 93, 69, 8, 12
 CONTROL "", IDC_PBD1, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 102, 69, 8, 12
 CONTROL "", IDC_PBD0, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 111, 69, 8, 12
 CONTROL "", IDC_PBD, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 124, 69, 32, 12
 CONTROL "PORT A", IDC_GROUPBOX2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 0, 160, 43
 CONTROL "PORT B", IDC_GROUPBOX3, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 43, 160, 43
 CONTROL "PORT C", IDC_GROUPBOX4, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 89, 160, 43
 CONTROL "PCDR", -1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 16, 103, 30, 12
 CONTROL "", IDC_PC7, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 48, 103, 8, 12
 CONTROL "", IDC_PC6, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 57, 103, 8, 12
 CONTROL "", IDC_PC5, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 66, 103, 8, 12
 CONTROL "", IDC_PC4, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 75, 103, 8, 12
 CONTROL "", IDC_PC3, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 84, 103, 8, 12
 CONTROL "", IDC_PC2, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 93, 103, 8, 12
 CONTROL "", IDC_PC1, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 102, 103, 8, 12
 CONTROL "", IDC_PC0, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 111, 103, 8, 12
 CONTROL "", IDC_PC, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 124, 103, 32, 12
 CONTROL "PCDDR", -1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 16, 116, 30, 12
 CONTROL "", IDC_PCD7, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 48, 116, 8, 12
 CONTROL "", IDC_PCD6, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 57, 116, 8, 12
 CONTROL "", IDC_PCD5, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 66, 116, 8, 12
 CONTROL "", IDC_PCD4, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 75, 116, 8, 12
 CONTROL "", IDC_PCD3, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 84, 116, 8, 12
 CONTROL "", IDC_PCD2, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 93, 116, 8, 12
 CONTROL "", IDC_PCD1, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 102, 116, 8, 12
 CONTROL "", IDC_PCD0, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 111, 116, 8, 12
 CONTROL "", IDC_PCD, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 124, 116, 32, 12
 CONTROL "Handshake lines", IDC_GROUPBOX5, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 134, 160, 43
 CONTROL "H1", IDC_H1, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 151, 24, 13
 CONTROL "H2", IDC_H2, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 151, 24, 14
 CONTROL "H3", IDC_H3, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91, 151, 24, 14
 CONTROL "H4", IDC_H4, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 151, 24, 14
}

